.userlist__search {
  margin-bottom: 20px;
  width: 100%;
}
input {
  width: 92%;
  min-height: 34px;
  border: 1px solid #efefef;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 12px;
  border-radius: 5px;
}

input:focus {
  border: 1px solid #e5e5e5;
}
